@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--text-primary-100);
  background-color: var(--bg-body-secondary);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --black: #000;
  --black-90: rgba(0, 0, 0, 0.9);
  --black-80: rgba(0, 0, 0, 0.8);
  --black-70: rgba(0, 0, 0, 0.7);
  --black-60: rgba(0, 0, 0, 0.6);
  --black-50: rgba(0, 0, 0, 0.5);
  --black-40: rgba(0, 0, 0, 0.4);
  --black-30: rgba(0, 0, 0, 0.3);
  --black-20: rgba(0, 0, 0, 0.2);
  --black-10: rgba(0, 0, 0, 0.1);
  --black-5: rgba(0, 0, 0, 0.05);
  --black-3: rgba(0, 0, 0, 0.03);
  --white: #fff;
  --white-90: hsla(0, 0%, 100%, 0.9);
  --white-80: hsla(0, 0%, 100%, 0.8);
  --white-70: hsla(0, 0%, 100%, 0.7);
  --white-60: hsla(0, 0%, 100%, 0.6);
  --white-50: hsla(0, 0%, 100%, 0.5);
  --white-40: hsla(0, 0%, 100%, 0.4);
  --white-30: hsla(0, 0%, 100%, 0.3);
  --white-20: hsla(0, 0%, 100%, 0.2);
  --white-10: hsla(0, 0%, 100%, 0.1);
  --white-5: hsla(0, 0%, 100%, 0.05);
  --white-3: hsla(0, 0%, 100%, 0.03);
  --alpha-90: rgba(0, 0, 0, 0.9);
  --alpha-80: rgba(0, 0, 0, 0.8);
  --alpha-70: rgba(0, 0, 0, 0.7);
  --alpha-60: rgba(0, 0, 0, 0.6);
  --alpha-50: rgba(0, 0, 0, 0.5);
  --alpha-40: rgba(0, 0, 0, 0.4);
  --alpha-30: rgba(0, 0, 0, 0.3);
  --alpha-20: rgba(0, 0, 0, 0.2);
  --alpha-10: rgba(0, 0, 0, 0.1);
  --alpha-7: rgba(0, 0, 0, 0.07);
  --alpha-5: rgba(0, 0, 0, 0.05);
  --alpha-3: rgba(0, 0, 0, 0.03);
  --o-red: #e94b4d;
  --o-green: #42bc6c;
  --o-blue: #4183c4;
  --o-yellow: #ffc107;
  --o-gray: #f9f9f9;
  --border-divider-100: #e2e2e2;
  --border-divider-200: #d1d1d1;
  --text-primary-50: #000;
  --text-primary-100: #424242;
  --text-primary-200: #666;
  --text-primary-300: #9b9b9b;
  --link-primary: #2778b6;
  --text-anchor: #4183c4;
  --hover-text-anchor: #23527c;
  --bg-body-primary: #fff;
  --bg-body-secondary: #f4f4f4;
  --bg-card-primary: transparent;
  --bg-card-secondary: #fff;
}
